/** Global Styles **/
body{
    background: #BDBDBD;
}


.img20{
  border-radius: 50%;
}

.img20{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.container{
    max-width
}

.heisenberg{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.grey{
    color: grey;
}


.container {
    width: 960px;
    background-color: white;
    padding-bottom: 50px;
}
.top-p {
    font-size: 20px;
.card-title {
    font-size: 150px;
    text-align: center;
}

.card-text {
    font-size: 80px;
    text-align: center;
}

.card-img-overlay {
    align-items: center;
    padding: 0;
    margin-top: 10%;

}

.card {
    border: none;
   
}
.content .container-fluid {
    background-color: white;
}

.navbar .container-fluid {
    background-color:none;
}

.container-fluid .container {
    padding-top:3rem;
}


/** your stylesheets **/ 
.s-btn-contact {
    padding-right: 2px;
}
