body{
    background: #BDBDBD;
}

.card-title {
    font-size: 150px;
    text-align: center;
}

.card-text {
    font-size: 80px;
    text-align: center;
}

.card-img-overlay {
    align-items: center;
    padding: 0;
    margin-top: 10%;

}

.card {
    border: none;
   
}