/** Global Styles **/
body{
    background: #BDBDBD;
}

.container-fluid {
    background-color: white;
}

.container-fluid .container {
    padding-top:3rem;
}


/** your stylesheets **/ 
.s-btn-contact {
    padding-right: 2px;
}

.cnct-info {
    border-color: rgb(151, 151, 151);
}