<!-- your html code here -->
<div class="contact w-75 mx-auto my-5">
<div class="text m-auto">
<h1>Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<div class="cnct-info border rounded bg-light m-auto w-75">
    <form>
  <div class="form-group row mt-3 m-1">
    <label for="inputEmail3" class="col-sm-2 col-form-label d-flex flex-row-reverse bd-highlight">Your E-mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
    </div>
  </div>
  <div class="form-group row mt-3 m-1">
    <label for="inputPassword3" class="col-sm-2 col-form-label d-flex flex-row-reverse bd-highlight">Your message</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputPassword3" placeholder="Please eneter your message here..." rows="7"></textarea>
    </div>
  </div>
  <div class="form-group row s-btn-contact">
    <div class="mt-2 ml-auto mr-4 pr-2">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>
</form>
</div>
</div>