<div class="container">
    <div class="d-flex justify-content-between p-2">
        <div>
            <h1>
                This First Heading
                <span class="grey">Will Catch Your Eye</span>
            </h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div>
            <img src="/website1/assets/img/1.jpg"
                class="heisenberg" alt="">
        </div>
    </div>
</div>