<!-- your html code here -->
<div class="container" id="portfolio">
    <div class="Portolio-top">
        <h1>Portolio</h1>
        <p class="top-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu est eget risus iaculis dapibus id a ante. Donec mollis lectus massa, rhoncus rutrum velit aliquam vel. Integer vestibulum laoreet odio id accumsan. </p>
    </div>
    <div class="row">
    <div class="col">
        <div class="card border-0" style="width: 18rem;">
        <img src="/website1/assets/img/big-project-image.png" alt="...">
        <div class="card-body">
        <a href="#"><h4 class="card-title">Project Name</h4></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>
<!--                                        -->
    <div class="col">
        <div class="card border-0" style="width: 18rem;">
        <img src="/website1/assets/img/big-project-image.png" alt="...">
        <div class="card-body">
        <a href="#"><h4 class="card-title">Project Name</h4></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    </div>
        <div class="col">
        <div class="card border-0" style="width: 18rem;">
        <img src="/website1/assets/img/big-project-image.png" alt="...">
        <div class="card-body">
        <a href="#"><h4 class="card-title">Project Name</h4></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    </div>
   </div> 
</div>