<!-- your html code here -->
<p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p>


<div class="card bg-dark text-white">
  <img class="card-img" src="https://coral-caterpillar-8a3inukg.ws-us04.gitpod.io/files/download/?id=6914c146-47f5-4588-9910-7849ab2e28f2" alt="Card image" class="img-responsive">
  <div class="card-img-overlay">
    <h1 class="card-title bg-light text-dark">One Page Wonder</h1>
    <h1 class="card-text bg-light text-dark">Will Knock Your Socks Off</h1>

  </div>
</div>
